
Shortcuts/Games/*
Shortcuts/Softwares/*
Shortcuts/Production/*
__pycache__/
library/__pycache__/
Songs/*
Texts/To-Do List.txt

!Shortcuts/Games/.gitkeep
!Shortcuts/Production/.gitkeep
!Shortcuts/Softwares/.gitkeep
!Songs/.gitkeep
!Texts/.gitkeep